<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/Selenium Projects/AutomationTesting">
    <classes>
        <class name="ValidateFieldsTestCase01"></class>
        <class name="ValidCredentialsTestCase02"></class>
        <class name="InvalidCredentialsTestCase03"></class>
        <class name="EmptyFieldsTestCase04"></class>
    </classes>

</test>
</suite>